<h1>Web de autenticación y registro</h1>
<p>Esta es mi primer web con sistema de registro y autenticación</p>

<iframe
  src="https://giphy.com/embed/8EoCZQ7lDDVKNMvNzL"
  width="480"
  height="480"
  frameBorder="0"
  class="giphy-embed"
  allowFullScreen
></iframe><p><a
    href="https://giphy.com/gifs/easportsfifa-reaction-celebration-8EoCZQ7lDDVKNMvNzL"
  ></a></p>