<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <a href="/">Inicio</a>
    <a href="/auth/signup">Registrarse</a>
    <a href="/auth/login">Login</a>
    <br>
    <a href="/auth/main">Pagina de usuario</a>
    <a href="/auth/private">Pagina privada de usuario</a>
    

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>